img{ height: 250px;
    width:250px;
    object-fit:contain;
     
    }

h2{
    font-size: 50px;
    background-color: rgb(192, 134, 247);
    color: rgb(238, 218, 233);
    text-align: center;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 40px;
}

ul {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 20px;
    color: rgb(169, 118, 236);
    text-align: justify;
}
#btn {
    width: 150px;
    height: 40px;
    text-align: center;
    color: rgb(243, 199, 217);
    background-color: rgb(129, 109, 155);
    font-size: 15px;
}